@model Sispmed.Core.Domain.Sedes

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sedes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DirSede" class="control-label"></label>
                <input asp-for="DirSede" class="form-control" />
                <span asp-validation-for="DirSede" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomSede" class="control-label"></label>
                <input asp-for="NomSede" class="form-control" />
                <span asp-validation-for="NomSede" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelSede" class="control-label"></label>
                <input asp-for="TelSede" class="form-control" />
                <span asp-validation-for="TelSede" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
