@model IEnumerable<Sispmed.Core.Domain.CategoriasInsumos>

@{
    ViewData["Title"] = "Categorias";
    Layout = "~/Views/Shared/_DashBoard.cshtml";
}

<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre de categoria
            </th>
            <th>
                Acciones
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomCate)
            </td>
            <td>
                <a class="editar" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="eliminar" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
