@model Sispmed.Core.Domain.StockInsumos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>StockInsumos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Disponi" class="control-label"></label>
                <input asp-for="Disponi" class="form-control" />
                <span asp-validation-for="Disponi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entradas" class="control-label"></label>
                <input asp-for="Entradas" class="form-control" />
                <span asp-validation-for="Entradas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salidas" class="control-label"></label>
                <input asp-for="Salidas" class="form-control" />
                <span asp-validation-for="Salidas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsumoId" class="control-label"></label>
                <select asp-for="InsumoId" class="form-control" asp-items="ViewBag.InsumoId"></select>
                <span asp-validation-for="InsumoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
